SQLAlchemy
typing_extensions
pydantic
langgraph
pandas
fastapi
uvicorn
streamlit
requests
PyPDF2
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-groq==0.2.1
pinecone-client==5.0.1
sentence-transformers
tiktoken
python-multipart
python-dotenv